@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@theme {
  /* custom color */
  --color-bg-dark: hsl(0 0% 85%);
  --color-bg: hsl(300 0% 95%);
  --color-bg-light: hsl(300 50% 100%);
  --color-text: hsl(300 0% 4%);
  --color-text-muted: hsl(0 0% 50%);
  --color-highlight: hsl(300 50% 100%);
  --color-border: hsl(0 0% 50%);
  --color-border-muted: hsl(211.49 94.39% 20.98%);
  --color-primary: hsl(239 33% 36%);
  --color-secondary: hsl(30.94 89.72% 58.04%);
  --color-danger: hsl(359.67 95.77% 62.94%);
  --color-warning: hsl(52 82% 24%);
  --color-success: hsl(154 58% 29%);
  --color-info: hsl(217 42% 43%);
  --color-custom: hsl(239 33% 90%);

  /* custom space */
  --spacing-sidebar-panel: 15rem;
  --spacing-sidebar-space: 1rem;

  /* custom text size */
  --text-2xsmall: 0.625rem;
  --text-xsmall: 0.75rem;
  --text-small: 0.875rem;
  --text-base: 1rem;
  --text-large: 1.125rem;
  --text-xlarge: 1.25rem;
  --text-2xlarge: 1.5rem;
  --text-3xlarge: 1.75rem;

  /* custom shadow */
  --shadow-base: 0 2px 2px hsl(0 0% 50%);
  --shadow-box: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;

  /* custom animate */
  --animate-fade-top: fade-from-top 0.6s ease-in;
  --animate-fade-bottom: fade-from-bottom 0.6s ease-in;
  --animate-fade-left: fade-from-left 0.6s ease-in;
  --animate-fade-right: fade-from-right 0.6s ease-in;
  --animate-float: float 8s infinite ease-in-out;

  @keyframes fade-from-top {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-from-bottom {
    from {
      opacity: 0;
      transform: translateY(32px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-from-left {
    from {
      opacity: 0;
      transform: translateX(-32px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-from-right {
    from {
      opacity: 0;
      transform: translateX(32px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(4rem, -3rem);
    } /* kanan-atas (segitiga) */
    50% {
      transform: translate(0, 2rem);
    } /* bawah (segitiga) */
    75% {
      transform: translate(-3rem, 1.5rem);
    } /* kiri-bawah (trapesium) */
    100% {
      transform: translate(0, 0);
    }
  }
}

input.number-input-hide-stepper::-webkit-inner-spin-button,
input.number-input-hide-stepper::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.number-input-hide-stepper {
  -moz-appearance: textfield;
  appearance: textfield;
}
